/* .navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  top: 0;
  left: 0;
} */

.app_body {
  height: 90vh;
  top: 100px;
  left: 0;
}

.login {
  display: flex;
  align-items: center;
}

.links {
  width: calc(100% - 45vw);
  display: flex;
  justify-content: space-around;
}

.links button {
  width: 120px;
}